.wraper {
    padding: 50px;
    text-align: center;
    font-family: sans-serif;
    width: 500px;
    margin: 10px auto;
}

.container {
border-top: 2px solid #000;
display: flex;
list-style: none;
padding: 0;
justify-content: space-between;
align-items: stretch;
align-content: stretch;
width: 100%;
}

.link {
position: relative;
margin-top: 10px;
width: 100%;
}

.link a {
font-weight: bold;
text-decoration: none;
color: black;
text-transform: uppercase;
font-size: 15px;
}

.link:first-child {
margin-left: 0px;
}

.link:last-child {
margin-right: 0px;
}

.link::after {
content: "";
width: 10px;
height: 10px;
background: #fff;
position: absolute;
border-radius: 10px;
top: -18px;
left: 50%;
transform: translatex(-50%);
border: 2px solid black;
}

.active::after,
.link:hover::after {
background: black;
}

p.lead {
font-weight: 600;
margin: 50px auto;
line-height: 1.5;
}