.version.index {
    color: #000004;
    background-color: #558009;
}

body {
    font-family: Arial, Helvetica, sans-serif !important;
}

#page {
    z-index: 1;
    width: 100vw;
    min-height: 1176px;
    background-image: none;
    border-width: 0px;
    border-color: #000000;
    background-color: transparent;
    padding-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-img {
    width: 64px !important;
    height: auto !important;
}

.nav-item {
    font-size: medium;
    padding: 0 0;
}

.navbar {
    z-index: 100;
}

.navbar-collapse {
    padding-right: 42px;
}

nav {
    padding-top: 0px !important;
}

.nav-link {
    text-decoration: none !important;
}

.active {
    text-decoration: underline !important;
}
.particles-js {
    z-index: 1000;
}

.count-particles {
    z-index: 1000;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 5000;
}

.footer-img {
    width: 32px;
    height: auto;
}

footer.navbar-brand {
    padding: 0;
}

footer {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.title {
    z-index: 2000;
    background-color: #212121;
    border-radius: 5px;
    color: #f9f9f9;
    padding: 2vw 0;
    width: 100%;
    margin-bottom: 0;
}

.event-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.event-img {
    height: 48vw;
}

.content-title {
    padding-top: 8vw;
    padding-bottom: 8vw;
 }
 .content {
    padding: 4vw 8vw !important;
 }

.content-flex-1 {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.content-flex-2 {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.content-holder {
    position: absolute;
    width: 100%;
    padding-bottom: 48px;
}

.carousel-content {
    display: flex;
    align-items: center;
}

.carousel-data {
    flex: 1;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal.active-text{
    transform: translateY(0);
    opacity: 1;
}

.content-title {
    background-color: #212121;
    color: white;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: #f9f9f9;
}

.content {
    background-color: #f9f9f9;
    padding: 10% 5%;
}

.check-our {
    display: flex;
}

li {
    list-style: unset;
}

ol {
    font-size: large;
}

p {
    font-size: large;
}

body {
    position: relative;
    min-width: 100vw;
    background-color: #f9f9f9 !important;
}

.navbar-img {
    margin: 0% 10%;
}

.works {
    display: flex;
    align-items: center;
    justify-content: center;
}

.github-img {
    width: 40px;
    height: auto;
}

#github-button {
    width: 100%;
    font-size: large;
    border-style: solid;
    border-width: 1px;
    border-color: #1f2022;
    transition: 0.5s all ease;
    color: #1f2022;
    text-decoration: none
}

#github-button:hover {
    background-color: #1f2022;
    color: #f9f9f9;
    opacity: 84%;
    transition: 0.5s all ease;
}

#blog-button {
    width: 100%;
    font-size: large;
    border-style: solid;
    border-width: 1px;
    border-color: #1f2022;
    transition: 0.5s all ease;
    color: #1f2022;
    text-decoration: none
}

#blog-button:hover {
    background-color: #1f2022;
    color: #f9f9f9;
    opacity: 84%;
    transition: 0.5s all ease;
}

.dsai-img {
    width: 64px;
    height: auto;
}

.event1 {
    width: 80%;
    border-radius: 5px;
    border-color: #212121;
    border-width: 1px;
    border-style: solid;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: x-large;

    -webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
	        transition: all 0.4s ease-in-out;
}

.header {
    margin: 0;
    padding: 0;
    background-color: #1f2022;
    padding: 4rem 2rem;
    text-align: center;
  }

  .header__title {
    margin: 0;
    color: #fff;
    font-weight: 300;
  }

.event1:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
}

.bottom-event {
    margin-bottom: 84px;
}

.heading {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 8%;
    align-items: center;
}

.heading h2 {
    flex: 1;
    text-align: left;
}

.carousel-inner {
    width: 100%;
    height: 48vw !important;
}

.carousel-item img{
    object-fit: cover;
}

.vertical-line {
    border-left: 6px solid black;
    height: 4rem;
    left: 50%;
}

.event1:hover{
    width: 72%;
    background-color: rgba(255,255,255,0);
  
	-webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
	        transition: all 0.4s ease-in-out;
}

.event1:hover .title {
    text-decoration: underline;
}

.row p {
    margin-top: 1rem;
}

.home-title {
    position: absolute;
    z-index: 1000;
    margin: 0 20vw;
    /* background-color: rgba(240, 242, 245, 0.42); */
    border-radius: 5px;
    padding: 1% 1%;
 }
